
<%if false%>
<div id="<%= dom_id comment %>">
  <p>
    <strong>Author:</strong>
    <%= comment.author_id %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= comment.post_id %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= comment.text %>
  </p>

</div>
<%end%>
<%###################################%>
<% if post.comments_counter == 0 %>
  <div class='comments'>
    <p>No comments yet!</p>
  </div>
<% end %>

<% if post.comments_counter > 0 %>
  <ul class='comments'>
    <% comment.each do |comment| %>
      <div class='comment'>
        <div><%= comment.author.name %>:</div>
        <div class='comment-box'><%= comment.text %></div>
      </div>
    <% end %>
  </ul>
<% end %>