<% if false %>
<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%####################### NEW USER #################################%>
<%= link_to "New user", new_user_path %>
<% end %>
<h1 class='users_title'>Users</h1>
  <ul>
    <% @users.each do |user| %>
    <li class='users_card'>
        <div class="photo">
          <img src="<%= user.photo %>" alt="<%= user.name %>">
        </div>
       <div class="frame">
        <div class="name_bio">
          <h2><%= link_to user.name, user %></h2>  
        </div>



        <div class='num_post'>
        <p>Number of posts(<%= user.posts.count %>)</p>
        <div>
        </div>
      </li>
    <% end %>
  </ul>