<ul id="<%= dom_id post %>">

  <% if false %>
  <p>
    <strong>Author:</strong>
    <%= post.author_id %>
  </p>
  <%end%>
  
 <li class="post_card">

   <div class="post_title">
   <p>
    <strong>Post:</strong>
    <%= post.title %>
   </p>
  </div>

 <div class="text">
  <p>
    <%= post.text %>
  </p>
 </div>

 <div class="like_comment">    
 <div>
   <p>
    <strong>Likes counter:</strong>
    <%= post.likes_counter %>
   </p>
  </div>
 <div>
   <p>
    <strong>Comments counter:</strong>
    <%= post.comments_counter %>
   </p>
  </div>
  </div>
</li>
</ul>
