
<ul id="<%= dom_id post %>">

  <% if false %>
  
 
    <%end%>
  <p>
    <strong>Author:</strong>
    <%= post.author.name %>
  </p>
  
 <li class="post_card">

   <div class="post_title">
   <p>
   
    <strong>Post:</strong>
    <%= link_to user_post_path(post.author, post) do %>
    <%= post.title %>
      <%end%>
   </p>
  </div>

 <div class="text">
  <p>
    <%= post.text %>
  </p>
 </div>

 <div class="like_comment">    
 <div>
   <p>
    <strong>Likes counter:</strong>
    <%= post.likes_counter %>
   </p>
  </div>
 <div>
   <p>
    <strong>Comments counter:</strong>
    <%= post.comments_counter %>
   </p>
  </div>
  </div>
</li>
</ul>

