<%if false%>
<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
<%end%>
<%############### NEW POST ###############%>

<section>
<%= render 'users/user', user: @user %> 
 <%= render 'shared/open_post_form', user: @user %>
  <ul class='comment_post'>
    <% if @user.posts.empty? %>
      <li class='post'>This user has no posts yet!</li>
    <% end %>

    <% @user.posts.each_with_index do |post, index| %>
      <li class='post'>
        <%= render 'post', post: post %>
 <div class=add_new_comm>
  <a href="<%= new_user_post_comment_path(current_user, post) %>" class="button button-wide">Add new comment</a>
</div>
         <%= render 'comments/comment', post: post, comment: post.recent_comment %>
      </li>
    <% end %>
  </ul>
</section>